$light_gray: #ccced1;
$gray: #6a6c70;
$text: #181819;
$background: #fcfcfc;

$dark_light_gray: #ccced1;
$dark_gray: #afafaf;
$dark_text: #f8f5f4;
$dark_background: rgb(17, 17, 17);

$accent: rgb(253, 31, 93);