@import 'colors.scss';
@import 'sizes.scss';

nav {
	display: block;
	position: fixed;
	width: 100%;
	border-bottom: 1px $light_gray solid;
	z-index: 100;
	background: white;
	.links {
		padding: 12px 48px;
		max-width: 900px;
		margin: 16px auto;
		// make room for logo
		.spacer {
			display: inline-block;
			height: 100%;
			width: 70px;
		}
		a {
			text-decoration: none;
			font-family: 'Roboto', sans-serif;
			color: $text;
			font-size: 18px;
			margin-right: 23px;
		}
		.logo {
			position: absolute;
			top: 6px;
		}
	}
}

body {
	min-width: 300px;
}

// typeography 

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    color: $text;
}

p,nav,ul,ol,li {	
    font-family: 'IBM Plex Serif', serif;
    color: $text;
}

small {
	font-family: 'Roboto', sans-serif;
	color: $text;
	margin: 4px;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 32px;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}

small {
	font-size: 12px;
	color: $gray;
}

.title {
	margin-bottom: 24px;
	h1,small {
		padding-left: 0;
		padding-right: 0;
	}
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 2px;
	}
}

// structure
.container {
	max-width: 900px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin: 0 auto;
	* {
		padding-left: 96px;
		padding-right: 96px;
		@media screen and (max-width: $tablet) {
			padding-left: 48px;
			padding-right: 48px;
		}
		@media screen and (max-width: $mobile) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	img {
		width: 100%;
		display: block;
		border-radius: 4px;
		margin-top: 48px;
		margin-bottom: 48px;
	}

	.album img {
		margin-top: 0;
		margin-bottom: 0;
	}

	.album, img {
		padding-left: 0;
		padding-right: 0;
	}

	.album {
		margin-top: 48px;
		margin-bottom: 48px;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
	font-size: 12px;
	}

	p {
		margin-bottom: 24px;
	}
}

.scrim-container{
	height: calc(100vh - 74px);
	width: 100px;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.medium-zoom-overlay{
	z-index: 200;
	background-color: rgba(0,0,0,0.9) !important;
}

.medium-zoom-image--open{
	z-index: 300;
}