@import 'colors.scss';
@import 'sizes.scss';

// paragraphs and lists
p, ul, ol {
	font-weight: 300;
	line-height: 1.6;
	font-size: 18px;
	text-align: justify;
	margin-bottom: 18px;
}

p {
	text-align: justify;
}

p,nav,ul,ol,li {	
    font-family: 'Barlow', sans-serif;
    color: $text;
}


ul, ol {
	p {
		padding: 0 0 !important;
	}
	@media (max-width: $mobile){
		list-style-position: inside;
	}
}

li {
	padding: 6px 0 !important;
}


nav {
	display: block;
	position: fixed;
	width: 100%;
	z-index: 100;
	background: $background;
	.links {
		padding: 12px 48px;
		max-width: 900px;
		margin: 16px auto;
		// make room for logo
		.spacer {
			display: inline-block;
			height: 100%;
			width: 70px;
		}
		a {
			text-decoration: none;
			font-family: 'Barlow', sans-serif;
			color: $text;
			font-size: 18px;
			margin-right: 23px;
		}
		.logo {
			position: absolute;
			top: 6px;
		}
	}
}

body {
	min-width: 300px;
	background-color: $background;
}

// typeography 

h1,h2,h3,h4,h5,h6 {
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
    color: $text;
}

small {
	font-family: 'Barlow', sans-serif;
	color: $text;
	margin: 4px;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 32px;
	margin-top: 72px;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

small {
	font-size: 12px;
	color: $gray;
}

.title {
	margin-bottom: 24px;
	h1,small {
		padding-left: 0;
		padding-right: 0;
	}
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 2px;
	}
}

// structure
.container {
	max-width: 1366px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin: 0 auto;

	@media screen and (max-width: $desktop) {
		max-width: 900px;
	}
	
	> * {
		@media screen and (min-width: $desktop) {
			padding-left: 280px;
			padding-right: 280px;
		}
		@media screen and (max-width: $desktop) {
			padding-left: 96px;
			padding-right: 96px;
		}
		@media screen and (max-width: $tablet) {
			padding-left: 48px;
			padding-right: 48px;
		}
		@media screen and (max-width: $mobile) {
			padding-left: 24px;
			padding-right: 24px;
		}
		
	}
	
	img {
		width: 100%;
		display: block;
		border-radius: 4px;
		margin-top: 72px;
		margin-bottom: 48px;
	}
	video {
		border-radius: 4px;
		margin-top: 72px;
		margin-bottom: 48px;
		margin-left: auto !important;
		margin-right: auto !important;
		display: block
	}

	.album img {
		margin-top: 0;
		margin-bottom: 0;
	}

	.album, img {
		padding-left: 0;
		padding-right: 0;
	}

	.album {
		margin-top: 72px;
		margin-bottom: 48px;
	}

	h1 {
		font-size: 48px;
	}

	.big {
		font-size: 72px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
	font-size: 12px;
	}

	p {
		margin-bottom: 24px;
	}
	.image-break {
		height: 300px;
		position: absolute;
		left: 200px;
		right: 200px;
		z-index: -100;
		margin: 72px 0;
		background: no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		@media screen and (max-width: 1150px) {
			display: none !important;
		}
	}
	.image-break-spacer {
		height: 300px;
		margin-top: 72px;
		margin-bottom: 96px;
		visibility: hidden;
		background: no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		@media screen and (max-width: 1150px) {
			visibility: visible;
		}
	}
	.youtube {
		width: 100%;
		padding: 0;
		padding-bottom: 56.25%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	// thing that goes at the top of a post
	.alert {
		box-sizing: border-box;
		> div.alert-wrapper {
			outline: 1px solid $light_gray;
			box-sizing: border-box;
			padding: 32px;
			h1 {
				margin-top: 0;
				font-size: 32px;
				margin-bottom: 24px;
			}
			p {
				margin-bottom: 0;
				color: $gray;
			}
		}
	}
}

.projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 

	@media screen and (max-width: 1150px) {
		grid-template-columns: 100% !important;
		.project {
			grid-column-start: 1 !important;
			grid-column-end: span 5 !important;
			height: 450px;
		} 
	}
	
}

.project {
	text-decoration: none;
	display: block;
	width: 100%; 
	padding: 0 !important;
	position: relative;
	background-color: $light-gray;
	
	.thumb {
		width: 100%;
		background: no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		.video-fader {
			z-index: 75;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		.popup {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			position: relative;

			transition: background 0.3s ease;
			height: 100%;
			background: rgba(0,0,0,0);
			&:hover {
				background-color: rgba(0,0,0,0.4);
				h1 {
					opacity: 1;
				}
				.video-fader {
					background-color: rgba(0,0,0,0.4);
				}
			}
			h1 {
				width: 100%;
				z-index: 100;
				color: white;
				text-align: center;
				margin: 0;
				opacity: 0;
				transition: opacity 0.3s ease;
			}
			video {
				position: absolute;
				height: 100%;
				margin: 0;
			}
		}
	}
}

.scrim-container{
	height: calc(100vh - 74px);
	width: 100px;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.medium-zoom-overlay{
	z-index: 200;
	background-color: rgba(0,0,0,0.9) !important;
}

.medium-zoom-image--open{
	z-index: 300;
}