<div class="grid {% if small %} small {% endif %} {% if reverse %}reverse{% endif %}">
    <div>
        <h3> {{ header }} </h3>
        <p> {{ body }} </p>
    </div>
    <div>
        {% if type == "image" %}
            <img class="zoom" src="/media/projects/{{path}}" {% if max %}style="max-width: {{max}}px"{% endif %}/>
        {% endif %}

        {% if type == "video" %}
        <video src="/media/projects/{{path}}" autoplay {% if controls %}controls{% endif %} muted loop>
        </video>
        {% endif %}
    </div>
</div>