<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- css -->
      <link rel="stylesheet" href="/reset.css">
      <link rel="stylesheet" href="/main.css">

      <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Roboto" rel="stylesheet"> 
    </head>

    <body>

    {% block menu %}
      <nav>
        <div class='links'>
          {% set pages = get_section(path="pages/_index.md") %}

          <!-- home page -->
          <a href="/">Projects</a>

          <!-- loop through other pages -->
          {% for page in pages.pages %}
            <a href="{{page.permalink}}" >
              {{page.title}}
            </a>
          {% endfor %}
        </div>
      </nav>
    {% endblock menu %}

    {% block content %}
      <h1> my site </h1>
      {% set projects = get_section(path="projects/_index.md") %}
      {% for project in projects.pages %}
        <a href="{{project.permalink}}">
          {{project.title}}
        </a>
      {% endfor %}
    {% endblock content %}

    </body>

</html>
