<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- css -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Roboto|Oswald"" rel="stylesheet"> 

    <script type="text/javascript" src="/js/macy.min.js"></script>

    <script type="text/javascript" src="/js/medium-zoom.min.js"></script>

    
  </head>

  <body>

    {% block menu %}
      <nav>
        <div class='links'>
          {% set pages = get_section(path="pages/_index.md") %}

          <!-- home page -->
          <a href="/">Projects</a>

          <!-- loop through other pages -->
          {% for page in pages.pages %}
            <a href="{{page.permalink}}" >
              {{page.title}}
            </a>
          {% endfor %}
        </div>
      </nav>
      <div style="height: 74px; width: 100%"></div>
    {% endblock menu %}

    {% block content %}
      <div class="container">
        {% set projects = get_section(path="projects/_index.md") %}
        {% for project in projects.pages %}
          <a href="{{project.permalink}}">
            {{project.title}}
          </a>
        {% endfor %}
      </div>
    {% endblock content %}

    <script type="text/javascript">
      // guid incrementor for use with Macy
      var guid = 0;

      document.querySelectorAll('.album').forEach(function(el) {

        var numImages = el.childElementCount;
        var numColumns = (function() {
          if (numImages < 3)
            return numImages;
          else
            return 3
        })();
        var numColumnsTablet = (function() {
          if (numImages < 2)
            return numImages;
          else
            return 2
        })(); 

        el.classList.add("macy-"+guid);     

        Macy({  
          container: ".macy-"+guid,
          columns: numColumns,
          margin: {
            x: 12,
            y: 12  
          },
          breakAt: {
            768: {
              columns: numColumnsTablet
            },
            375: {
              columns: 1
            }
          }
        });

        guid++;
      });
      
      mediumZoom(document.querySelectorAll('.zoom'));
    </script>

  </body>

</html>
