<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- css -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/scrim.css">
    <link rel="stylesheet" href="/main.css">

    <link href="https://fonts.googleapis.com/css?family=Barlow:600,400|Merriweather:300,400,400i,700" rel="stylesheet">

    <script type="text/javascript" src="/js/rustish.js"></script>
    <script type="text/javascript" src="/js/appear.min.js"></script>
    <script type="text/javascript" src="/js/zenscroll-min.js"></script>
    <script type="text/javascript" src="/js/macy.min.js"></script>
    <script type="text/javascript" src="/js/medium-zoom.min.js"></script>
    <script type="text/javascript" src="/js/scrim.js"></script>
    <script type="text/javascript" src="/js/gridder.js"></script>
    <script type="text/javascript" src="/js/anime.min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    
    {% if config.extra.portfolio_tracking_id %}
    <!-- tracking script -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{config.extra.portfolio_tracking_id}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{config.extra.portfolio_tracking_id}}');
    </script>
    {% endif %}

  </head>

  <body {% if config.extra.theme %}class='{{config.extra.theme}}'{% endif %}>
    {% block menu %}
      <nav>
        <div class='links'>
          <a href="/">
            <img src='/media/logo.png' class='logo'/>
          </a>
          <div class='spacer'></div>
          {% set pages = get_section(path="pages/_index.md") %}
          <!-- home page -->
          <a href="/">Projects</a>

          <!-- email -->
          <a href="mailto:{{config.extra.portfolio_contact}}">Contact</a>

          <!-- loop through other pages -->
          {% for page in pages.pages %}
            <a href="{{page.permalink}}" >
              {{page.title}}
            </a>
          {% endfor %}
        </div>
      </nav>
      <div style="height: 74px; width: 100%"></div>
    {% endblock menu %}

    {% block content %}

      <div class="about container">
        <div class="logotype">
          {% if config.extra.portfolio_name %}
            <h1>{{config.extra.portfolio_name | safe}}</h1>
          {% endif %}

          {% if config.extra.portfolio_video %}
            <video src="/media/{{config.extra.portfolio_video}}" 
              autoplay muted loop style="box-shadow: none; width: 100%;"></video>
          {% endif %}
        </div>
        <div>
            <p class='large'>{{config.extra.portfolio_description}}</p>
        </div>
      </div>

      <div class="container projects">
        {% set projects = get_section(path="projects/_index.md") %}
        {% for project in projects.pages %}
          <a class="project" href="{{project.permalink}}">
            
            <div class="thumb" {% if project.extra.image %} style="background-image: url(/media/projects/{{project.extra.image}})" {% endif %} >
              <!-- video, if available -->
              <div class="popup">
                  {% if project.extra.video %}
                    <video src="/media/projects/{{project.extra.video}}" autoplay muted loop></video>
                    <div class="video-fader"></div>
                  {% endif %}
                {% if project.extra.no_title_on_hover %} {% else %}
                <h1>{{project.title}}</h1> {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endblock content %}

    <script type="text/javascript">
      // guid incrementor for use with Macy
      var guid = 0;

      document.querySelectorAll('.album').forEach(function(el) {

        var numImages = el.childElementCount;
        var numColumns = (function() {
          if (numImages < 4)
            return numImages;
          else
            return 4
        })();
        var numColumnsTablet = (function() {
          if (numImages < 2)
            return numImages;
          else
            return 2
        })(); 

        el.classList.add("macy-"+guid);     

        Macy({  
          container: ".macy-"+guid,
          columns: numColumns,
          margin: {
            x: 12,
            y: 12  
          },
          breakAt: {
            768: {
              columns: numColumnsTablet
            },
            375: {
              columns: 1
            }
          }
        });

        guid++;
      });
      
      mediumZoom(document.querySelectorAll('.zoom'));
    </script>

  </body>

</html>
