{% extends "index.html" %}

{% block content %}
    <!-- scroller -->
    <div class='scrim-container'></div>

    {% if page.extra.video %}
        <div class="hero"> 
            <video src="/media/projects/{{page.extra.video}}" autoplay muted loop></video>
        </div>
    {% endif %}
    <div class='container'>
        {% if not page.extra.hide_title %}
            {% if page.title %}
                <div class="title">
                    <h1 class='big'>
                        {% if page.extra.display_title %}
                            {{ page.extra.display_title }}
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                    </h1>
                    <small>{{ page.date }}</small>
                </div>
            {% endif %}
        {% endif %}
        {% if page.extra.summary %}
            <p class="large"> 
                {{ page.extra.summary }} 
            </p>
        {% endif %}

        {{ page.content | safe }}
    </div>
{% endblock content %}
